* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .everything {
    background-color: rgb(0, 0, 0); 
}


.my-form {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	flex-direction: column;
    
}


.my-form label{
	display: block;
	color: white;
	font-family: 'Lato', sans-serif;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
	width: 200px;
	height: 10px;

}

.button {
	width: 40px;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	font-size: 10px;
}

.button:hover {
	background: black;
	color: lightgray;
	}


/* Showcase */
#showcase4 {
    background: url('../img/feaured2.jpg') no-repeat center center/cover;
    color: #fff;
    /* background: #333; */
    padding: 2rem;
    position: relative;
  }

  #contact {
     font-weight: bold;
 }
  
  /* #showcase4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.30;
  } */
  
  #showcase4 .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  #showcase4 .showcase-content {
    z-index: 1;
  }
  
  #showcase4 .showcase-content p {
    margin-bottom: 1rem;
  }
  